<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %> <br>
		<%= f.text_field :commenter %>
	</p>

	<p>
		<%= f.label :body %> <br>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>