<h1><%= @article.title %></h1>
<p><%= @article.text %></p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a Comment</h2>
<%= render 'comments/form' %>

<p>
	<%= link_to 'Edit', edit_article_path(@article) %>
	<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>