<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
	<li><%= link_to 'View all Articles', articles_path %></li>
	<li><%= link_to 'Add new Article', new_article_path %></li>
</ul>

<%= yield %>

</body>
</html>
